.sider{
  ul,li{margin: 0;padding: 0;}
  .tab-box{margin-top: 20px;padding:0 24px 23px;border-radius: 5px;background: #fff;
    .table-cont{
      &>.cont-header{position: relative;height: 60px;
        &>ul{height: 100%;
          &>li{float: left;margin-right: 10px;width: 60px;height: 100%;line-height: 60px;text-align:center;list-style: none;cursor:pointer;
          }
        }
        .active-line{position:absolute;bottom: 0;width: 60px;height:2px;transition: .3s;background:#ccc;}
      }
      &>.cont-body{position: relative;margin: 10px 0 0;
        
      }
    }
  }
}